<div class="container mt-5">
    <div class="card" style="width: 18rem;">
        <img class="card-img-center" src="assets/teamDuo/pang.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">นางสาวเกตน์สิรี มีนาค</h5>
          <p class="card-text">ปวส.1/5</p>
          <a href="#" class="btn btn-primary">แป้ง</a>
         </div>
      </div>
</div>

<div class="container mt-5">
    <div class="card" style="width: 18rem;">
        <img class="card-img-center" src="assets/teamDuo/best.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">นางสาวดลยา ดวงพรม</h5>
          <p class="card-text">ปวส.1/5</p>
          <a href="#" class="btn btn-primary">เบส</a>
         </div>
      </div>
</div>